@font-face {
  font-family: 'rt-petslist';
  src: url('../fonts/rt-petslist.eot?40040834');
  src: url('../fonts/rt-petslist.eot?40040834#iefix') format('embedded-opentype'),
       url('../fonts/rt-petslist.woff2?40040834') format('woff2'),
       url('../fonts/rt-petslist.woff?40040834') format('woff'),
       url('../fonts/rt-petslist.ttf?40040834') format('truetype'),
       url('../fonts/rt-petslist.svg?40040834#rt-petslist') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rt-petslist';
    src: url('../font/rt-petslist.svg?40040834#rt-petslist') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rt-petslist";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pl-plus:before { content: '\e800'; } /* '' */
.icon-pl-plus-circle:before { content: '\e801'; } /* '' */
.icon-pl-search:before { content: '\e803'; } /* '' */
.icon-pl-tick-mark-fill-circle:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-star:before { content: '\e806'; } /* '' */
.icon-star-fill:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-user-fill:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-pinterest:before { content: '\e80f'; } /* '' */
.icon-pl-account:before { content: '\e810'; } /* '' */
.icon-pl-account-fill:before { content: '\e811'; } /* '' */
.icon-pl-angle-down:before { content: '\e812'; } /* '' */
.icon-pl-angle-down-fat:before { content: '\e813'; } /* '' */
.icon-pl-angle-right:before { content: '\e814'; } /* '' */
.icon-pl-angle-up:before { content: '\e815'; } /* '' */
.icon-pl-angle-up-fat:before { content: '\e816'; } /* '' */
.icon-pl-chat:before { content: '\e817'; } /* '' */
.icon-pl-chat-fill:before { content: '\e818'; } /* '' */
.icon-pl-clock:before { content: '\e819'; } /* '' */
.icon-pl-edit:before { content: '\e81a'; } /* '' */
.icon-pl-flash:before { content: '\e81b'; } /* '' */
.icon-pl-flash-fill:before { content: '\e81c'; } /* '' */
.icon-pl-heart:before { content: '\e81d'; } /* '' */
.icon-pl-grid-view:before { content: '\e81e'; } /* '' */
.icon-pl-heart-fill:before { content: '\e81f'; } /* '' */
.icon-pl-img:before { content: '\e820'; } /* '' */
.icon-pl-img-fill:before { content: '\e821'; } /* '' */
.icon-pl-iocn-fill:before { content: '\e822'; } /* '' */
.icon-pl-list:before { content: '\e823'; } /* '' */
.icon-pl-list-view:before { content: '\e824'; } /* '' */
.icon-pl-location-fill:before { content: '\e825'; } /* '' */
.icon-pl-location:before { content: '\e826'; } /* '' */
.icon-pl-lock-fill:before { content: '\e827'; } /* '' */
.icon-pl-message-box:before { content: '\e828'; } /* '' */
.icon-pl-messege-box-fill:before { content: '\e829'; } /* '' */
.icon-pl-phone:before { content: '\e82a'; } /* '' */
.icon-pl-angle-down-fill:before { content: '\e82b'; } /* '' */
.icon-pl-calendar:before { content: '\e82c'; } /* '' */
.icon-camera:before { content: '\e82e'; } /* '' */
.icon-warning:before { content: '\e839'; } /* '' */
.icon-compare:before { content: '\e83a'; } /* '' */
.icon-pl-tag:before { content: '\e83b'; } /* '' */
.icon-pl-right-arrow:before { content: '\e83d'; } /* '' */
.icon-pl-eye:before { content: '\e83e'; } /* '' */
.icon-linkedin:before { content: '\e841'; } /* '' */
.icon-youtube-1:before { content: '\e842'; } /* '' */
.icon-pl-earth:before { content: '\e843'; } /* '' */
.icon-share-2:before { content: '\e845'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */
